.worktrees

vim/.local/bin
vim/.local/share
vim/.local/state
vim/.config/nvim/autoload/plug.vim
vim/.config/nvim/backups
vim/.config/nvim/sessions
vim/.config/nvim/tmp
vim/.config/nvim/undo
vim/.config/nvim/.netrwhist
vim/.config/nvim/lua/nfnl
vim/.config/nvim/lua/makyo-fnl
vim/.config/nvim/fnl/nfnl

configs/.boot/cache
configs/.lein/indices
configs/.lein/repl-history
configs/.config/coc/commands
configs/.config/gtk-3.0/bookmarks
configs/.config/pulse/cookie
configs/.config/gomp
configs/.config/mpdscribble

zsh/.zshrc_work

**/node_modules
pnpm-debug.log

GPATH
GRTAGS
GTAGS

neovide_backtraces.log
