vim/.vim/autoload/plug.vim
vim/.vim/backups
vim/.vim/sessions
vim/.vim/tmp
vim/.vim/plugged
vim/.vim/.netrwhist
configs/.boot/cache
configs/.lein/indices
configs/.lein/repl-history
configs/.config/gtk-3.0/bookmarks
configs/.config/pulse/cookie
**/node_modules
pnpm-debug.log
GPATH
GRTAGS
GTAGS
