priority -20

snippet BM "Backbone.Model.extend" w
Backbone.Model.extend({
  ${1:// Model body}
});$0
endsnippet


snippet BC "Backbone.Collection.extend" w
Backbone.Collection.extend({
  ${1:// Collection body}
});$0
endsnippet
