snippet /* "Main header comment"
/*
    ${1:Heading}

 */
endsnippet

snippet /- "Section comment"
/* ------------------------------------
   ${1:Heading}
   ------------------------------------ */
$0
endsnippet
