snippet im "import-macros (nfnl)"
  (import-macros {
                  : module
                  ${1:: defn-}
                  ${2:: defn}
                  ${3:: def-}
                  ${4:: def}
                  }
                  :nfnl.macros.aniseed)
  $0
