[user]
  name = USERNAME
  email = EMAIL

[alias]
  co = checkout
  copr = "!f() { git fetch origin pull/$1/head:pr$1 && git co pr$1; }; f"
  com = git checkout master
  comp = "!f() { git co master && git pull; }; f"
  compp = "!f() { git rh && git co master && git pull; }; f"
  ci = commit
  can = commit --amend --no-edit -a
  d = diff
  dc = diff --cached
  st = status --column=
  br = branch
  bra = branch --all
  df = diff -b
  fe = fetch
  fep = fetch -p
  p = pull
  pu = push
  puf = push --force
  lo = log --oneline --decorate=full
  hist = log --pretty=format:'%h %d | %s%d [%an]' --graph --date=short
  sl = shortlog --format='%C(auto)%h %s'
  ac = apply --check --ignore-whitespace --verbose
  type = cat-file -t
  dump = cat-file -p
  rb = rebase
  rbc = rebase --continue
  rbm = rebase master
  rh = reset --hard
  rml = remote prune origin
  rmld = remote prune origin --dry-run
  stls = stash list
  stp = stash pop
  sts = stash save --include-untracked
  stsh = "!f() { git stash show -p stash@{$1}; }; f"
  sta = "!f() { git stash apply stash@{$1}; }; f"
  std = "!f() { git stash drop stash@{$1}; }; f"

[color]
  ui = true

[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22

[color "diff"]
	meta = 11
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse

[core]
  autocrlf = input
  editor = vim
  excludesfile = ~/.gitignore_global
  pager = diff-so-fancy | less --tabs=4 -RFX

[credential]
	helper = /usr/lib/git-core/git-credential-libsecret

[mergetool "mvimdiff"]
  cmd = /usr/local/bin/mvimdiff -f "$LOCAL" "$MERGED" "$REMOTE"

[merge]
  tool = mvimdiff
  conflictstyle = diff3

[diff]
  tool = vimdiff
  guitool = gvimdiff

[difftool "sourcetree"]
  cmd = opendiff "$LOCAL" "$REMOTE"
  path =

[mergetool "sourcetree"]
  cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh "$LOCAL" "$REMOTE" -ancestor "$BASE" -merge "$MERGED"
  trustExitCode = true
